{
  "include": [
    "index.js"
  ],
  "lines": 100,
  "statements": 100,
  "functions": 100,
  "branches": 100,
  "reporter": [
    "lcov",
    "text"
  ],
  "report-dir": "./coverage",
  "sourceMap": true,
  "instrument": true,
  "check-coverage": true,
  "all": true
}
